.nav-container {
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  height: 15vh;

  background-color: #00000000;
  position: fixed;
  z-index: 1000;
}

.logo {
  width: 15vw;
  height: auto;
  padding: 1rem;
  color: black;
  min-width: 200px;
  margin-top: 1%;
}

.logo img {
  display: block;
  width: 100%;
  height: auto;
}

.home-navlink {
  padding: 1rem;
}
