.nav-container {
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  height: 15vh;
  padding: 2rem;
  background-color: #ffffff00;
}

.logo {
  width: 30vw;
  height: auto;
  font-size: 4rem;
  padding: 0;
  color: black;
}

.logo img {
  display: block;
  width: 100%;
  height: auto;
}
