.cart {
  cursor: pointer;
}

/* nav style */

.shopNav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: black;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100vw;
  max-width: 375;
}

.shopNav-menu {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.shopNav-link {
  color: var(--text-color);
  text-decoration: none;
  font-size: 0.9rem;
  letter-spacing: 1px;
  transition: color 0.3s ease;
}

.shopNav-link:hover {
  color: #cccccc;
}

.logo {
  color: var(--text-color);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: 2px;
}

.shopNav-item {
  position: relative;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--primary-color);
  min-width: 200px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.3s ease;
  padding: 1rem 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.shopNav-item:hover .dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdown ul {
  list-style: none;
}

.dropdown ul li {
  padding: 0.5rem 1rem;
}

.dropdown ul li a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 0.9rem;
  display: block;
  transition: color 0.3s ease;
}

.dropdown ul li a:hover {
  color: #cccccc;
}

.shopNav-right {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.cart {
  position: relative;
}
