* {
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

#form-background {
  background-color: black;
  color: white;
  min-height: 100vh;
  position: relative;
}

.container {
  max-width: 800px;
  margin: 1vh 2vw;
  width: 90vw;
}

.header {
  background-color: black;
  padding: 0;
  text-align: center;
  width: 100%;
}

.logo a {
  color: white;
  font-size: 24px;
  text-decoration: none;
  font-weight: bold;
}

.main-content h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.form {
  display: grid;
  grid-template-columns: 43vw 43vw;
  gap: 1vh 6vw;
  margin: 0;
  padding: 0;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 42vw;
  margin: 0;
  padding: 0;
}

.full-width {
  grid-column: span 2;
  width: 91vw;
  max-width: 100vw;
}

label {
  font-size: 16px;
  margin-bottom: 5px;
}

.required {
  color: red;
  font-size: 1.5rem;
}

input,
select,
textarea {
  background-color: #1a1a1a;
  border: 1px solid gray;
  padding: 10px;
  color: white;

  width: 100%;
  height: 7vh;
}

input[type="radio"] {
  margin-right: 5px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-family: sans-serif;
}

.checkbox-container input {
  appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid #555;
  border-radius: 4px;
  margin-right: 8px;
  cursor: pointer;
  transition: 0.2s;
  margin-left: 1vw;
}

.checkbox-container input:checked {
  background-color: #007bff;
  border-color: #007bff;
}

.checkbox-container input:checked::after {
  display: absolute;
  top: 0;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
  font-weight: bold;
}

.radio-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-family: sans-serif;
}

.radio-container input {
  appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid #555;
  border-radius: 50%;
  margin-right: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  position: relative;
}

.radio-container input:checked {
  border-color: #007bff;
}

.radio-container input:checked::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #007bff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 600px) {
  .form-group {
    display: flex;
    flex-direction: column;
    width: 42vw;
    margin: 0;
    padding: 0;
  }
  .full-width {
    grid-column: span 2;
    width: 90vw;
    max-width: 100vw;
  }
  .form {
    display: grid;
    grid-template-columns: 43vw 43vw;
    gap: 6vw;
    margin: 0;
    padding: 0;
  }
  body {
    font-size: small;
  }

  .radio-group {
    display: flex;
    flex-direction: row;

    cursor: pointer;
    font-family: sans-serif;
  }
}
